.App-body {
  min-height: 100vh;
  color: #2A2A2A;
  background-color: white;
}

.App-content {
  padding-top: 25vh;
}

.App-footer {
  background-color: #4F4F4F;
  font-size: calc(10px + 0.5vmin);
  min-height: 5vh;
  color: white;
}

.padding-top-5vh {
  padding-top: 5vh;
}
.padding-bottom-5vh {
  padding-bottom: 5vh;
}

.card {
  color: grey;
}
.card-icon-1 {
  color: #227093;
}
.card-icon-2 {
  color: #cd6133;
}
.card-icon-3 {
  color: #474787;
}
.card-icon-4 {
  color: #b33939;
}

/* Contact form */
.gotcha {
  display: none;
}
.input-field {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .input-field {
    width: 70%;
  }
}

/* MVCAP Specific */
.mvcap-green-text {
  color: #205000;
}
.mvcap-green-background {
  background-color: #205000;
}
